ClienteSOAPVentas/xml-resources/web-service-references/servicioVentas/wsdl/localhost_9090/servicioVentas.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servicio.ventas.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio.ventas.com/">

<xs:element name="listarProductos" type="tns:listarProductos"></xs:element>

<xs:element name="listarProductosResponse" type="tns:listarProductosResponse"></xs:element>

<xs:element name="obtenerHistorialVentas" type="tns:obtenerHistorialVentas"></xs:element>

<xs:element name="obtenerHistorialVentasResponse" type="tns:obtenerHistorialVentasResponse"></xs:element>

<xs:element name="registrarVenta" type="tns:registrarVenta"></xs:element>

<xs:element name="registrarVentaResponse" type="tns:registrarVentaResponse"></xs:element>

<xs:complexType name="obtenerHistorialVentas">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerHistorialVentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:venta" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="venta">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="producto" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="total" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarVenta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarVentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductos">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>