EjercicioPropuesto1/ClienteSOAPVentas/src/META-INF/wsdl/localhost_9090/servicioVentas.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.ventas.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.ventas.com/" name="VentaServicioService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.ventas.com/" schemaLocation="http://localhost:9090/servicioVentas?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="obtenerEstadisticas">
<part name="parameters" element="tns:obtenerEstadisticas"></part>
</message>
<message name="obtenerEstadisticasResponse">
<part name="parameters" element="tns:obtenerEstadisticasResponse"></part>
</message>
<message name="listarProductosAgotados">
<part name="parameters" element="tns:listarProductosAgotados"></part>
</message>
<message name="listarProductosAgotadosResponse">
<part name="parameters" element="tns:listarProductosAgotadosResponse"></part>
</message>
<message name="listarProductosDisponibles">
<part name="parameters" element="tns:listarProductosDisponibles"></part>
</message>
<message name="listarProductosDisponiblesResponse">
<part name="parameters" element="tns:listarProductosDisponiblesResponse"></part>
</message>
<message name="listarProductosBajoStock">
<part name="parameters" element="tns:listarProductosBajoStock"></part>
</message>
<message name="listarProductosBajoStockResponse">
<part name="parameters" element="tns:listarProductosBajoStockResponse"></part>
</message>
<message name="listarProductosPorCategoria">
<part name="parameters" element="tns:listarProductosPorCategoria"></part>
</message>
<message name="listarProductosPorCategoriaResponse">
<part name="parameters" element="tns:listarProductosPorCategoriaResponse"></part>
</message>
<message name="obtenerHistorialVentas">
<part name="parameters" element="tns:obtenerHistorialVentas"></part>
</message>
<message name="obtenerHistorialVentasResponse">
<part name="parameters" element="tns:obtenerHistorialVentasResponse"></part>
</message>
<message name="agregarStock">
<part name="parameters" element="tns:agregarStock"></part>
</message>
<message name="agregarStockResponse">
<part name="parameters" element="tns:agregarStockResponse"></part>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"></part>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"></part>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"></part>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"></part>
</message>
<message name="consultarStock">
<part name="parameters" element="tns:consultarStock"></part>
</message>
<message name="consultarStockResponse">
<part name="parameters" element="tns:consultarStockResponse"></part>
</message>
<message name="registrarVenta">
<part name="parameters" element="tns:registrarVenta"></part>
</message>
<message name="registrarVentaResponse">
<part name="parameters" element="tns:registrarVentaResponse"></part>
</message>
<portType name="VentaServicio">
<operation name="obtenerEstadisticas">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/obtenerEstadisticasRequest" message="tns:obtenerEstadisticas"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/obtenerEstadisticasResponse" message="tns:obtenerEstadisticasResponse"></output>
</operation>
<operation name="listarProductosAgotados">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosAgotadosRequest" message="tns:listarProductosAgotados"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosAgotadosResponse" message="tns:listarProductosAgotadosResponse"></output>
</operation>
<operation name="listarProductosDisponibles">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosDisponiblesRequest" message="tns:listarProductosDisponibles"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosDisponiblesResponse" message="tns:listarProductosDisponiblesResponse"></output>
</operation>
<operation name="listarProductosBajoStock">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosBajoStockRequest" message="tns:listarProductosBajoStock"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosBajoStockResponse" message="tns:listarProductosBajoStockResponse"></output>
</operation>
<operation name="listarProductosPorCategoria">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosPorCategoriaRequest" message="tns:listarProductosPorCategoria"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosPorCategoriaResponse" message="tns:listarProductosPorCategoriaResponse"></output>
</operation>
<operation name="obtenerHistorialVentas">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/obtenerHistorialVentasRequest" message="tns:obtenerHistorialVentas"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/obtenerHistorialVentasResponse" message="tns:obtenerHistorialVentasResponse"></output>
</operation>
<operation name="agregarStock">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/agregarStockRequest" message="tns:agregarStock"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/agregarStockResponse" message="tns:agregarStockResponse"></output>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosRequest" message="tns:listarProductos"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosResponse" message="tns:listarProductosResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="consultarStock">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/consultarStockRequest" message="tns:consultarStock"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/consultarStockResponse" message="tns:consultarStockResponse"></output>
</operation>
<operation name="registrarVenta">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/registrarVentaRequest" message="tns:registrarVenta"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/registrarVentaResponse" message="tns:registrarVentaResponse"></output>
</operation>
</portType>
<binding name="VentaServicioPortBinding" type="tns:VentaServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="obtenerEstadisticas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarProductosAgotados">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarProductosDisponibles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarProductosBajoStock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarProductosPorCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerHistorialVentas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarStock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarStock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registrarVenta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VentaServicioService">
<port name="VentaServicioPort" binding="tns:VentaServicioPortBinding">
<soap:address location="http://localhost:9090/servicioVentas"></soap:address>
</port>
</service>
</definitions>