ClienteSOAPVentas/src/META-INF/wsdl/localhost_9090/servicioVentas.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.ventas.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.ventas.com/" name="VentaServicioService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.ventas.com/" schemaLocation="http://localhost:9090/servicioVentas?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"></part>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"></part>
</message>
<message name="registrarVenta">
<part name="parameters" element="tns:registrarVenta"></part>
</message>
<message name="registrarVentaResponse">
<part name="parameters" element="tns:registrarVentaResponse"></part>
</message>
<message name="obtenerHistorialVentas">
<part name="parameters" element="tns:obtenerHistorialVentas"></part>
</message>
<message name="obtenerHistorialVentasResponse">
<part name="parameters" element="tns:obtenerHistorialVentasResponse"></part>
</message>
<portType name="VentaServicio">
<operation name="listarProductos">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosRequest" message="tns:listarProductos"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/listarProductosResponse" message="tns:listarProductosResponse"></output>
</operation>
<operation name="registrarVenta">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/registrarVentaRequest" message="tns:registrarVenta"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/registrarVentaResponse" message="tns:registrarVentaResponse"></output>
</operation>
<operation name="obtenerHistorialVentas">
<input wsam:Action="http://servicio.ventas.com/VentaServicio/obtenerHistorialVentasRequest" message="tns:obtenerHistorialVentas"></input>
<output wsam:Action="http://servicio.ventas.com/VentaServicio/obtenerHistorialVentasResponse" message="tns:obtenerHistorialVentasResponse"></output>
</operation>
</portType>
<binding name="VentaServicioPortBinding" type="tns:VentaServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="listarProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registrarVenta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerHistorialVentas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VentaServicioService">
<port name="VentaServicioPort" binding="tns:VentaServicioPortBinding">
<soap:address location="http://localhost:9090/servicioVentas"></soap:address>
</port>
</service>
</definitions>