EjercicioResuelto/WebApplication1/SOAPClient/xml-resources/web-service-references/SOAPImplService/wsdl/localhost_8080/WebApplication1/SOAPImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://my.org/ns/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://my.org/ns/" name="SOAPImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://my.org/ns/" schemaLocation="http://localhost:8080/WebApplication1/SOAPImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<portType name="SOAPI">
<operation name="addUser">
<input wsam:Action="http://my.org/ns/SOAPI/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://my.org/ns/SOAPI/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://my.org/ns/SOAPI/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://my.org/ns/SOAPI/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://my.org/ns/SOAPI/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://my.org/ns/SOAPI/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="getProducts">
<input wsam:Action="http://my.org/ns/SOAPI/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://my.org/ns/SOAPI/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
</portType>
<binding name="SOAPImplPortBinding" type="tns:SOAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAPImplService">
<port name="SOAPImplPort" binding="tns:SOAPImplPortBinding">
<soap:address location="http://localhost:8080/WebApplication1/SOAPImplService"/>
</port>
</service>
</definitions>